<div class="container marginTop60">
    <mat-card class="example-card p-5">

        <mat-card-title class="text-center p-4">
            Tests & Quizzes: Example Instructions
        </mat-card-title>
    
        <mat-card-subtitle>
            When writing test or quiz instructions, there are several items you may want to 
            consider including, depending on the structure of your quiz. Some of the information
             below may not apply:
            </mat-card-subtitle>
    
        <mat-card-content>
            <ul>
    
                <li>
                    <b>Focus and Purpose of the Test/Quiz -</b>
                     Provide students context by letting them know what content is being focused on for the quiz and the 
                     learning goals the quiz is measuring.
                </li>
    
                <li>
                   <b> Number and Type of Questions - </b>
                    Letting students know how many questions and whether the questions include multiple-choice, true-false,
                     fill-in-the-blank, or essay will let them know what to expect and an idea of how long it will take them
                      to complete the quiz.
                </li>

                <li>
                    <b> Number and Type of Questions - </b>
                     Letting students know how many questions and whether the questions include multiple-choice, true-false,
                      fill-in-the-blank, or essay will let them know what to expect and an idea of how long it will take them
                       to complete the quiz.
                 </li>

                <li>
                    <b> Whether Students Can Expect Feedback </b>
                    Including question feedback is recommended, as it helps students better learn from the test experience.
                     This is especially important for practice quizzes. Let students know if they will be receiving feedback
                      so they know what to expect.  
                 </li>

                 <li>
                    <b> Whether Students Can Expect Feedback </b>
                    Including question feedback is recommended, as it helps students better learn from the test experience.
                     This is especially important for practice quizzes. Let students know if they will be receiving feedback
                      so they know what to expect.  
                 </li>

                 <li>
                    <b> Whether Students Can Expect Feedback </b>
                    - You can set up a test or quiz so students can take it as many times as you indicate with either their last
                     attempt or highest score for their grade. Let students know what to expect if you set up your test or quiz 
                     in this way.If the Test/Quiz is Timed - If a test or quiz is timed, emphasize this to students letting them know when 
                    the time starts and the importance of completing the test in one sitting. 
                 </li>

                 <li>
                   <b> Checking Your Answers</b>
                    Depending on how the quiz is configured, you might be allowed to check your answers.
                    <br>
                    Click on the Check Answers button at the bottom of the results page. A new browser window will open. (If you do not see the "Check Answers" button, it means that you are not allowed to check your answers for that quiz.)
                    <br>
                    Each question is preceded by the word "correct" or "incorrect", and the answer you gave is shown.
                    <br>
                    The author of the quiz may have helpful comments for each question. Be sure to check for this feedback.
                    <br>
                    Close this browser window when you are done checking your answers.
                 </li>

              </ul>
        </mat-card-content>
    
        <mat-card-actions class="text-center">
            <a [routerLink]="'/quiz/'+questionSetName+'/'+id" mat-raised-button color="primary">
                START QUIZ
            </a>
        </mat-card-actions>
      </mat-card>
</div>