
<!-- START CONTAINER 1   -->
<!-- <div class="container">

    <button class="button mt-5">
        <i class="bi bi-book-half textBookColor"></i>
        <span class="code300"><b> QUESTIONS SET</b></span>
      </button>
    
    <div class="row">

        <div class="col-md-4" *ngFor="let node of chapterListByStatus; let i = index" >

            <div class="mt-5">
                <mat-accordion >

                    <mat-expansion-panel  (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>

                        <mat-panel-title>
                           <i class="bi bi-journal-bookmark-fill mr-3 code1003"  [style.color]="node.bgColor"></i>
                           <p  class="code1001">
                            {{node.chapterName}}
                           </p>
                        </mat-panel-title>

                        <mat-panel-description>
                        </mat-panel-description>

                      </mat-expansion-panel-header>

                      <div  class="mt-2" *ngFor="let node2 of node.questionSetsModels; let i = index" >

                        <div class="cards"  *ngIf="node2.status == true">

                          <a  style="text-decoration: none;cursor: pointer;"   >  

                            <mat-card class="example-card">

                              <b>
                               <span  color="primary"> {{i+1}}) </span>
                                <span class="ml-2">
                                  {{node2.questionSetName}}
                                </span>
                              </b>  

                              <mat-card-actions class="text-center">
                                <button  mat-stroked-button color="primary">
                                  <b class="mr-2"  color="primary">Q</b>
                                    <span class="text-dark">
                                      {{ node2.questionsAnswerModel.length}}
                                    </span>
                                </button>

                                <a [routerLink]="'/instructions/'+node2.questionSetName+'/'+node2.id"  mat-stroked-button color="primary">
                                  START
                                </a>

                                <button  mat-stroked-button color="primary" >
                                  WATCH
                              </button>

                              <button class="mt-2"  (click)="showQrCode(node2.questionSetName,node2.id)" mat-stroked-button color="primary">
                                SHOW QR
                            </button>

                              </mat-card-actions>

                            </mat-card>
                          </a>

                        </div>

                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
            </div>

        </div>

    </div>

</div> -->
<!-- END CONTAINER 1   -->




<div class="container mt-5">

    <div *ngFor="let node of chapterListByStatus; let i = index" >


     <div class="text-center">
      <button class="button">
        <span class="code300">
          <i class="bi bi-journal-bookmark-fill mr-3 code1003"  [style.color]="node.bgColor"></i>
          <b>
           {{node.chapterName}}
          </b></span>
      </button>
     </div>


      <div class="row mt-4">

        <div class="col-sm-4 mb-4" *ngFor="let node2 of node.questionSetsModels; let i = index">

            <div class="cards"  *ngIf="node2.status == true">

              <a  style="text-decoration: none;cursor: pointer;"   >  

                <mat-card class="example-card">

                  <b>
                   <span  color="primary"> {{i+1}}) </span>
                    <span class="ml-2">
                      {{node2.questionSetName}}
                    </span>
                  </b>  

                  <mat-card-actions class="text-center">
                    <button  mat-stroked-button color="primary">
                      <b class="mr-2"  color="primary">Q</b>
                        <span class="text-dark">
                          {{ node2.questionsAnswerModel.length}}
                        </span>
                    </button>

                    <a [routerLink]="'/instructions/'+node2.questionSetName+'/'+node2.id"  mat-stroked-button color="primary">
                      START
                    </a>

                    <button  mat-stroked-button color="primary" >
                      WATCH
                  </button>

                  <button class="mt-2"  (click)="showQrCode(node2.questionSetName,node2.id)" mat-stroked-button color="primary">
                    SHOW QR
                </button>

                  </mat-card-actions>

                </mat-card>
              </a>

            </div>

        </div>

      </div>





    </div>

</div>





  