.buttonMoreCategory {
    background-color: #FDEBD0;
    border: none;
    color: #2E4053; 
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 7px;
    border-left: 4px solid #EB984E; /* Green */
  }
  .code300
  {
    color:#34495E ;
    font-weight: 600;
  }


  .cardWatch {
    transition: all 0.2s ease;
    border-radius: 15px;
    cursor: pointer
}
.cardWatch:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-top: 4px solid #7C81E3; /* Green */
    border-radius: 15px;
    transform: scale(1.02)
}