

   
      <!-- <button (click)='startTimer()'>Start Timer</button>
    <button (click)='pauseTimer()'>Pause</button> -->


<!-- <button (click)='startTimer()'>Start Timer</button>
<button (click)='pauseTimer()'>Pause</button>
<mat-spinner>
    <p>{{timeLeft}} Seconds</p>
</mat-spinner> <p>{{timeLeft}} Seconds</p> -->


<div *ngIf="isSubmit == false">
    <div  class="container pt-3 cont7788">
        <section class="div788">
            <h1 class="code998" >
                {{display }} Sec</h1>
            </section> 
    </div>
    
    
    <div class="container">
    
    
        <mat-card class="example-card" >
    
            <mat-card-title class="code546">
                <span>
                    {{questionSetName}}
                </span>
            </mat-card-title>
    
            <mat-card-content class="p-4" *ngFor="let node of quiz; let i = index">
                <mat-card  *ngIf="node.status == true" >

                   
                  <span>
                    <b class="mx-2"> {{ i+1 }} )</b> <b [innerHTML]="node.question" ></b>
                  </span>
    
                   <div *ngIf="node.questionFiles != ''">
                        <div *ngFor="let qf of node.questionFiles; let i = index">
                            <span>{{qf.fileUrl}}</span>
                        </div>
                   </div>
    
                   <div *ngIf="node.questionFiles == ''">
                       <span>EMPTY</span>
                       <span>{{node.questionFiles}}</span>
                   </div>
                    <br>
                    <hr>
                    
                        <div>
                            <div class="row">
                                <div class="col-md-6">
                                    <b class="mr-2">a) </b>
                                    <input 
                                        type="radio" 
                                        [value] = "node.option1"  
                                        [(ngModel)] = "node.givenAnswer"  
                                        [name] = "i.toString()">
                                        {{node.option1}} 
                                </div>
                
                                <div class="col-md-6">
                                    <b class="mr-2">b) </b>
                                    <input 
                                        type="radio" 
                                        [value] = "node.option2"  
                                        [(ngModel)] = "node.givenAnswer"  
                                        [name] = "i.toString()">
                                        {{node.option2}} 
                                </div>
                            </div>
                
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <b class="mr-2">c) </b>
                                    <input 
                                        type="radio" 
                                        [value] = "node.option3"  
                                        [(ngModel)] = "node.givenAnswer"  
                                        [name] = "i.toString()">
                                        {{node.option3}} 
                                </div>
                
                                <div class="col-md-6">
                                    <b class="mr-2">d) </b>
                                    <input 
                                        type="radio" 
                                        [value] = "node.option4"  
                                        [(ngModel)] = "node.givenAnswer"  
                                        [name] = "i.toString()">
                                        {{node.option3}} 
                                </div>
                            </div>
                        </div>
    
                        <!-- SHOW ANSWER START -->
                       <div class="mt-4">
                        <mat-accordion>
                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                 <b class="code1233">SHOW ANSWER</b>
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                                  <span class="code0012">
                                      {{node.ansNameKey}} )
                                      <span class="code0013">
                                        {{node.ansKey}}
                                      </span>
                                    </span>
                                    <mat-card class="mt-4 code9990" >
                                        <mat-card-subtitle>
                                            <p class="code5512">
                                                Solutiion
                                            </p>
                                            <div class="code88777 e2e-inner-html-bound" [innerHTML]="node.solution | noSanitize">
                                            </div>
                                        </mat-card-subtitle>
                                    </mat-card>
                            </mat-expansion-panel>
                          </mat-accordion>
                       </div>
                         <!-- SHOW ANSWER ENDING !!! -->
                          
    
                </mat-card>
            </mat-card-content>
    
            <mat-card-actions class="text-center mb-4 mt-3">
                <button (click)="submitQuiz()" mat-raised-button color="primary" style="width: 200px;">
                    SUBMIT QUIZ
                </button>
            </mat-card-actions>
    
          </mat-card>
    
    </div>
</div>



<!-- SHOWING QUIZ RESULT -->
<div *ngIf="isSubmit == true" class="container pt-5" >

    <mat-card style="margin: auto;max-width: 680px;">
        
        <div class="text-center code3344">
            <i class="bi bi-book-half f_size_book"></i><br><br>
            <span class="spanText77">
                QUIZ RESULT
            </span>
        </div>

        <div class="row">
            <!-- ATTEMPT QUESTIONS -->
            <div class="col-sm-4  mt-4">
                <div class="card">
                        <div class="card-header cardHeadercode1001">
                            ATTEMPT QUESTIONS
                        </div>
                        <div class="card-body textCenter454">
                            {{result.attemptQuestions}}
                        </div>
                  </div>
            </div>

            <!-- CORRECT ANSWER -->
            <div class="col-sm-4  mt-4">
                <div class="card">
                    <div class="card-header cardHeadercode1001">
                        CORRECT ANSWER
                    </div>
                    <div class="card-body textCenter454">
                        {{result.correctAnswer}}
                    </div>
              </div>
            </div>

            <!-- PERCENTAGE -->
            <div class="col-sm-4  mt-4">
                <div class="card">
                    <div class="card-header cardHeadercode1001">
                        PERCENTAGE
                    </div>
                    <div class="card-body textCenter454">
                        {{result.percentage}} <b>%</b>
                    </div>
              </div>
            </div>

            <!-- TOTAL QUESTIONS -->
            <div class="col-sm-4  mt-4">
                <div class="card">
                    <div class="card-header cardHeadercode1001">
                        TOTAL QUESTIONS
                    </div>
                    <div class="card-body textCenter454">
                        {{result.totalQuestion}}
                    </div>
              </div>
            </div>

            <!-- WRONG ANSWERS -->
            <div class="col-sm-4  mt-4">
                <div class="card">
                    <div class="card-header cardHeadercode1001">
                        WRONG ANSWERS
                    </div>
                    <div class="card-body textCenter454">
                        {{result.wrongAnswer}}
                    </div>
              </div>
            </div>

            <!-- TIME DURATION  -->
            <div class="col-sm-4 mt-4">
                <div class="card">
                    <div class="card-header cardHeadercode1001">
                        TIME DURATION 
                    </div>
                    <div class="card-body textCenter454">
                        {{result.timeDuration}}
                    </div>
              </div>
            </div>

        </div>


        <!-- MORE OPTIONS -->
        <hr>
        <div class="row">
            <div class="col-md-5 offset-md-1 mt-3">
                <a routerLink="/" mat-raised-button style="background-color: #D4E6F1;">
                    <i class="bi bi-question-circle-fill" style="color: #2E86C1;"></i>
                    More Quizes
                </a>
            </div>

            <div class="col-md-5 offset-md-1 mt-3">
                <a (click)="openDialog()" mat-raised-button style="background-color: #FAE5D3;">
                    <i class="bi bi-envelope-check-fill " style="color: #CA6F1E;"></i>
                   Send Report To Email
                </a>
            </div>

            <div class="col-md-5 offset-md-1 mt-3">
                <button (click)="downloadQuizReportToPDF()" mat-raised-button style="background-color: #E8DAEF;">
                    <i class="bi bi-file-pdf-fill" style="color: #884EA0;"></i>
                   Download PDF Report
                </button>
            </div>

            <div class="col-md-5 offset-md-1 mt-3">
                <a (click)="answerSheet()" mat-raised-button style="background-color: #EAFAF1;">
                    <i class="bi bi-clipboard-check-fill" style="color: #239B56;"></i>
                  Answer Sheet
                </a>
            </div>
        </div>

    </mat-card>

    

</div>
<!-- SHOWING QUIZ RESULT ENDING -->



<!-- ANSWER SHEETS -->

<div *ngIf="ansSheet == true" class="container mt-5" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;border-radius: 10px;padding: 20px;" > 

       <span class="text-center" style="padding: 5px; background-color: whitesmoke;color: #6495ED;font-size: 22px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
           ANSWER SHEET
       </span>
   

    <mat-card-content class="p-4" *ngFor="let node of quiz; let i = index">
         <mat-card>
    
          <span >
            <b>{{ i+1 }} ) </b> <b class="mx-4" [innerHTML]="node.question"></b>
          </span>

           <span *ngIf="node.givenAnswer == ' '">
               <h3 class="text-danger">NOT ATTEMPT</h3>
           </span>

             <div *ngIf="node.questionFiles != ''">
                        <div *ngFor="let qf of node.questionFiles; let i = index">
                            <span>{{qf.fileUrl}}</span>
                        </div>
               </div>

                <div *ngIf="node.questionFiles == ''">
                    <span>EMPTY</span>
                    <span>{{node.questionFiles}}</span>
                </div>
                    <br>

                    <div class="row">
                        <div class="col-md-6">
                            <div *ngIf="node.option1 == node.givenAnswer"   class="alert alert-warning" role="alert">
                                <b>a ) </b>
                                {{node.option1}}
                              </div>
                              <div *ngIf="node.option1 != node.givenAnswer"   class="alert alert-primary" role="alert">
                                <b>a ) </b>
                                 {{node.option1}}
                              </div>
                        </div>

                        <div class="col-md-6">
                            <div *ngIf="node.option2 == node.givenAnswer"   class="alert alert-warning" role="alert">
                                <b>b ) </b>  
                                {{node.option2}}
                              </div>
                              <div *ngIf="node.option2 != node.givenAnswer"   class="alert alert-primary" role="alert">
                                <b>b ) </b>
                                 {{node.option2}}
                              </div>
                        </div>

                        <div class="col-md-6">
                            <div *ngIf="node.option3 == node.givenAnswer"   class="alert alert-warning" role="alert">
                                <b>c ) </b>
                                  {{node.option3}}
                              </div>
                              <div *ngIf="node.option3 != node.givenAnswer"   class="alert alert-primary" role="alert">
                                <b>c ) </b>
                                 {{node.option3}}
                              </div>
                        </div>

                        <div   class="col-md-6">
                            <div *ngIf="node.option4 == node.givenAnswer"   class="alert alert-warning" role="alert">
                                <b>d ) </b>
                                 {{node.option4}}
                              </div>
                              <div *ngIf="node.option4 != node.givenAnswer"   class="alert alert-primary" role="alert">
                                <b>d ) </b>
                                  {{node.option4}}
                              </div>
                        </div>

                        <div class="col-md-10 alert alert-success" style="margin-left: 20px;" role="alert">
                            <b>Answer : ( {{node.ansNameKey}} )</b>{{node.ansKey}} 
                            <i class="bi bi-check-circle text-success"></i>
                        </div>
                    </div>

            </mat-card>

            

        </mat-card-content>

</div>


<!-- ANSWER SHEETS END-->
