

   
      <!-- <button (click)='startTimer()'>Start Timer</button>
    <button (click)='pauseTimer()'>Pause</button> -->


<!-- <button (click)='startTimer()'>Start Timer</button>
<button (click)='pauseTimer()'>Pause</button>
<mat-spinner>
    <p>{{timeLeft}} Seconds</p>
</mat-spinner> <p>{{timeLeft}} Seconds</p> -->


<div class="container marginTop60">

  


    <mat-card class="example-card" >

        <div class="container" style="position: absolute;">
            <div class="font-weight-bold div788 ">
                <h1 class="code998" >
                    {{display }} Sec</h1>
            </div> 
        </div>

        <mat-card-title class="code546">
            <span>
                {{questionSetName}}
            </span>
        </mat-card-title>

        <mat-card-content class="p-4" *ngFor="let node of quiz; let i = index">
            <mat-card>

                <b>{{ i+1 }} ) {{node.question}} </b>

               <div *ngIf="node.questionFiles != ''">
                    <div *ngFor="let qf of node.questionFiles; let i = index">
                        <span>{{qf.fileUrl}}</span>
                    </div>
               </div>

               <div *ngIf="node.questionFiles == ''">
                   <span>EMPTY</span>
                   <span>{{node.questionFiles}}</span>
               </div>
                <br>
                <hr>
                
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <b class="mr-2">a) </b>
                                <input 
                                    type="radio" 
                                    [value] = "node.option1"  
                                    [(ngModel)] = "node.givenAnswer"  
                                    [name] = "i.toString()">
                                    {{node.option1}} 
                            </div>
            
                            <div class="col-md-6">
                                <b class="mr-2">b) </b>
                                <input 
                                    type="radio" 
                                    [value] = "node.option2"  
                                    [(ngModel)] = "node.givenAnswer"  
                                    [name] = "i.toString()">
                                    {{node.option2}} 
                            </div>
                        </div>
            
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <b class="mr-2">c) </b>
                                <input 
                                    type="radio" 
                                    [value] = "node.option3"  
                                    [(ngModel)] = "node.givenAnswer"  
                                    [name] = "i.toString()">
                                    {{node.option3}} 
                            </div>
            
                            <div class="col-md-6">
                                <b class="mr-2">d) </b>
                                <input 
                                    type="radio" 
                                    [value] = "node.option4"  
                                    [(ngModel)] = "node.givenAnswer"  
                                    [name] = "i.toString()">
                                    {{node.option3}} 
                            </div>
                        </div>
                    </div>

            </mat-card>
        </mat-card-content>

        <mat-card-actions class="text-center">
            <button (click)="submitQuiz()" mat-raised-button color="primary">
                SUBMIT QUIZ
            </button>
        </mat-card-actions>

        <div class="card border border-1">
                <p>
                  <b>ATTEMPT QUESTIONS : </b> {{result.attemptQuestions}} <br>
                  <b>CORRECT ANSWER : </b> {{result.correctAnswer}} <br>
                  <b>ATTEMPT QUESTIONS : </b> {{result.attemptQuestions}} <br>
                  <b>PERCENTAGE : </b> {{result.percentage}} <br>
                  <b>TOTAL QUESTIONS : </b> {{result.totalQuestion}} <br>
                  <b>WRONG ANSWERS : </b> {{result.wrongAnswer}} <br>
                </p>
        </div>


      </mat-card>

</div>