.code546
{
    background-color: #FDF2E9;
    padding: 15px;
    border-radius: 7px;
    text-align: center;
}


.div788
{
    float: right;
    padding: 7px;
    border-radius: 15px;
    border-top: 4px solid #7C81E3;
}

.code998
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #34495E;
    font-size: 30px;
    font-weight: 600;
}