.code200
{
    font-size: 40px;
    color: #2E4053;
    line-height: normal;
    font-weight: 700;
   
}

.code201
{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



 .btn {
    flex: 1 1 auto;
    margin: 18px;
    padding: 18px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    font-weight: 600;
    color: white;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
   }
  
  .btn:hover {
    background-position: right center;
    color: #2E4053;
    font-weight: 600;
  }
  
  .btn-1 {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  }
  
  /* Magic Stuff End -> */



  .button {
    background-color: #D5F5E3;
    border: none;
    color: #2E4053; 
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 7px;
    border-left: 4px solid #1E8449; /* Green */
  }

  .textBookColor
  {
    color: #1E8449; /* Green */
  }

  .code300
  {
    color:#34495E ;
    font-weight: 600;
  }


  /* //category */

  .buttonforSet {
    display: inline-block;
    border-radius: 4px;
    background-color: #DAF7F1;
    border: none;
    color: #34495E;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-left: 4px solid #3498DB; /* Green */
    border-radius: 10px;
  }
  
  .buttonforSet span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    
  }
  
  .buttonforSet span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }
  
  .buttonforSet:hover span {
    padding-right: 25px;
  }
  
  .buttonforSet:hover span:after {
    opacity: 1;
    right: 0;
  }

  .code400
{
  font-size: 17px;
  font-weight: 600;
}


.buttonMoreCategory {
  background-color: #fadfad;
  border: none;
  color: #2E4053; 
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 7px;
  border-left: 4px solid #EB984E; /* Green */
}

.textBookColor2
{
  color: #E67E22;
}


.quizThoughtArea
{
  font-size: 24px;
  line-height: 1.2;
  color: #777c8e;
  padding:70px;
}

.textArea200
{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.code600
{
  background-color: #EAF2F8;
}

.section999
{
  font-size: 55px;
  font-weight: 800;
  color:#34495E;
  line-height: 1.2;
  margin-top: 120px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section1000
{
  font-size: 20px;
  color: #5D6D7E;
  line-height: 1.2;
  font-family: 'Times New Roman', Times, serif;
}

.section2Card
{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 15px;

}




/* //category */

.watchAllSet{
  display: inline-block;
  border-radius: 4px;
  background-color: #FDEDEC;
  border: none;
  color: #34495E;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 170px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-left: 4px solid #E74C3C; /* Green */
  border-radius: 10px;
}

.watchAllSet span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
}

.watchAllSet span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.watchAllSet:hover span {
  padding-right: 25px;
}

.watchAllSet:hover span:after {
  opacity: 1;
  right: 0;
}