
<div class="container mt-5">

    <div class="row">

        <div class="col-md-6 ">

               <div  style="margin: auto;margin-top: 85px;">
                <p class="code200">
                    Awesome support. Try it for free!
                </p>
               </div>

               <div>
                 <p>
                    <span   class="blockquote-footer code201 mt-2">
                       This is a list of my top 100 inspirational study quotes to help you get motivated,
                       study productively and overcome procrastination! I thought it would 
                       be cool to have a place where we can all come whenever 
                       we’re in need of some motivation.
                       </span>
                  </p>
               </div>

               <div class="mt-4">
                <button class="btn btn-1">LETS START THE QUIZ</button>
               </div>
               
        </div>


        <div class="col-md-6">
            <img src="../../../assets/home-page/004.svg" height="400"  alt="">
        </div>

    </div>

</div>