<div class="container marginTop70">


  <!-- FETCH CATEGORY START -->
      <div>

            <div *ngFor="let node of bottomCategoryList; let i = index">

                <button class="button">
                    <i class="bi bi-book-half textBookColor"></i>
                        <span class="code300"> 
                            {{node.bottomCategoryName}}
                        </span>
                  </button>

                  <div class="row mt-4">
                    <div class="col-md-4 mt-3 mb-3" *ngFor="let branchNode of node.branchModel; let i = index">
            
            
                        <div [style.background-color]="branchNode.bgColor" style="border-radius: 10px;" class="text-center" *ngIf="branchNode.status == true">
                            
                            <div class="card-body p-0 pt-3">
                                <h5 class="card-title">
                                    
                                    <span class="code400">
                                        {{branchNode.branchName}}
                                    </span>
                                </h5>
                            </div>
            
                            <div>
                                <a [routerLink]="'/chapters/'+branchNode.branchName+'/'+branchNode.id">
                                <button class="buttonforSet">
                                    <span> 
                                            Watch Quiz 
                                    </span>
                                </button>
                            </a>
                            </div>
            
                            <div>
                                <i class="bi bi-arrow-left-circle-fill" [ngStyle]="{ color: branchNode.bgColor }" ></i>
                            </div>
            
                          </div>
                    </div>
                  </div>
          </div>

      </div>
          <!-- FETCH CATEGORY END -->



    

</div>